<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/klooridioksidi.svg" alt="klooridioksidi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Tilaa infokirje</p>
			<p>Satunnaista infoa klooridioksidirintamalta.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Klooridioksidi-sivusto</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Etusivu</a></li>
					<li><a href="/products" class="link">Tuotteita</a></li>
					<li><a href="/values" class="link">Julkaisija</a></li>
					<li><a href="/post" class="link">Blogi</a></li>
					<li><a href="/contact" class="link">Yhteydenotto</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Syväluotaus</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Tarjous</a></li>
					<li><a href="/contact" class="link">Ota yhteyttä</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Lisenssi sivuston teksteille</h3>
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons -lisenssi" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Tämä teos on lisensoitu <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Nimeä 4.0 Kansainvälinen -lisenssillä</a>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
