<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/clo2-valkoinen-ei-taustaa.png" alt="klooridioksidi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Huomaathan oman vastuusi</p>
			<p>Sivusto tarjoaa satunnaista infoa klooridioksidirintamalta. Emme suosita tuotteen käyttöä emmekä voi laillisesti edes väittää sen olevan toiviva lääkeaine. EU:ssa sitä sisältävä tuote on rekisteröity lääkinnällinen laita ja klooridioksidi on veripankkien käyttämä veren desinfiointiaine, joten sitä sisältävää verta annetaan ihmisille suonensisäisesti. Mutta vastuu on täysin sinun, jos päätät käyttää klooridioksidia muuna kuin pintojen puhdistusaineena.</p>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">ClO2-sivusto</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Etusivu</a></li>
					<li><a href="/cd" class="link">CD</a></li>
					<li><a href="/cds" class="link">CDS</a></li>
					<li><a href="/post" class="link">Blogi</a></li>
					<li><a href="/contact" class="link">Tietosuoja</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Muuta</h3>
				<ul class="mb3">
					<li><a href="/post/andreas-kalcker-taustatietoja/" class="link">Andreas Kalcker</a></li>
					<li><a href="/contact" class="link">GDPR</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Lisenssi</h3>
				<img alt="Creative Commons -lisenssi" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /><br />Lisenssi sivuston teksteille on<br /><a target="_blank" rel="license nofollow noopener" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Nimeä 4.0 Kansainvälinen</a><br />eli kerro lähde ja lisää linkki "klooridioksidi.com",<br />kun lainaat tekstejä.
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
